extends layout

block content
  h1= title

  section(class="user-group-edit-main")
    form(
      action="./edit/"
      method="POST"
    )
      input(type="hidden", name="_csrf", value=_csrf)

      label Source:
        textarea(
          name="source"
          placeholder="source"
          rows=6
          required
        )= bag.source

      label List slug:
        input(
          type="text"
          name="slug"
          required
          maxlength=128
          pattern=bag.userGroupPathPattern
          value=bag.slug
        )
      div
        button(type="submit") Save

    p= status

  section
    h2 Syntax

    pre
      | &lt;user-group-path&gt; = [ "@" &lt;scree-name&gt; "/" ] &lt;user-group-slug&gt; ;
      | &lt;user-group-slug&gt; = &lt;list-slug&gt; | "_friends" | "_followers" ;

    h3 Examples
    ul
      li
        code _followers
        |
        | is a group of users that follows you.
      li
        code @vain0x/_friends
        |
        | is a group of users that
        |
        code @vain0x
        |
        | follows.
      li
        code @vain0x/my-list
        |
        | is a group of users of
        |
        code @vain0x
        | 's list
        |
        code my-list
        | .
