extends layout

block content
  h1= title
  form(
    class="tweet-form"
    action="/tweet/post-tweet/"
    method="POST"
  )
    p #{twitterUser.screenName}
    textarea(
      class="tweet-form-textbox"
      name="tweet_content"
      placeholder="What are you doing?"
      rows=4
      required
      max-length=280
    )
    input(type="hidden" name="_csrf" value=csrfToken)
    button(type="submit") Submit

  p= status

  h2 Logout
  form(
    action="/auth/logout/"
    method="POST"
  )
    input(type="hidden" name="_csrf" value=csrfToken)
    button(type="submit") Logout
